* {
    box-sizing: border-box;
}

body {
    /* color: #fff; */
    /* background-image: linear-gradient(to bottom right , #232526 , #414345); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul {
    list-style: none;
}
.header {
     /* background-image: url(../img/jonas-jaeken-7_lsAoBFyAU-unsplash.jpg) ; */
     background-image: linear-gradient(to bottom right , #232526 , #414345);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
      height: 100vh;
      width: 100%;
      margin: 0;
      position: relative;
      
     
}

.logo {
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    margin: -70px 22px 0 0px;
    color: #e00a00;
    }
    .logo-f {
        color: #859398;
        position: relative;
        z-index: -300;
        
    }

    .logo-f .f-3 {
        color: #e00a00;

    }
    .logo .f-4 {
        color: #859398;

    }
    .logo-f1 {
        z-index: -4000;
    }
   

.top-nav {
    display: flex;
} 
.menu {
    display: none;
    text-align: right;
    font-size:20px ;
    margin-top: 90px;
    margin-left: 200px;
}

li {
    margin-left: 20px;
}

  
  .hero-img{
      max-width:100%;
      max-height: 90%;
      margin: -200px 0 0 600px;
      position: relative;
      z-index: 1000;
    
  }
    

   
   .container { 
      display: flex; 
      margin-top: -800px;
      position: relative;
      z-index: 4000;
      padding: 0;
      
      
   } 
   
   
   

   .nav {
       position: relative;
       z-index: 3000;
   }
   
  
  .main {
    /* background: #414345; */
    height:500px;
    z-index: 2000;
    position: relative;
    margin-top: -20px;
  }

  .img-2 {
      display: block;
      height: 800px;
      margin: -710px 0 0 -50px;
      position: relative;
      z-index: 400;
  }
   .img-3{
       margin: -150px 0 0 -400px;   
       /* max-height: 100%; */
      

   }

  h3 {
    position: relative;
    z-index: 0;
  }
  
 
  .logo-2 {
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    margin: -70px 0px 0;
    color: #859398;
  }
  .hidden {
      visibility: hidden;
  }
